:root{
    --fushia: rgb(255, 0, 100);
    --beige: rgb(235, 175, 107);
}

html,
body {
    padding: 0;
    margin: 0;
    color: darkslategrey;
}

.flex {
    display: flex;
}

.rounded {
    border-radius: 50%;
}

.bordered {
    border: 4px solid white;
}

.shadowed {
    box-shadow: 13px 13px 20px rgb(210, 210, 210);
}

.img-container {
    display: flex;
    overflow: visible;
    position: relative;
}

img.rounded {
    width: 50px;
    height: 50px;
}

.active::before{
    content:'';
    width: 3px;
    height: 3px;

    position: absolute;
        left: -5px;
    border-radius: 50%; 
    border: 3px solid var(--beige);
}

/*----------MAIN----------*/

#left, #right{
    padding: 0px 10px 0 10px;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#principal {
    z-index: 1000;
    flex-direction: row;
    align-self: center;

    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    min-width: 315px;
    max-width: 423px;

    border-radius: 80px;
    border-left-width: 0px;

    color: white;
    background-image: linear-gradient(120deg, var(--fushia), rgb(255, 0, 76), orange);
}

#principal .img-container {
    width: 80px;
    height: 80px;
    overflow: visible;
    margin-right: 17px;
}

#principal .img-container img {
    box-sizing: border-box;
    align-self: center;
    padding: 5px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, var(--fushia), rgb(255, 0, 76), orange);
}

.details {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.details .info {
    box-sizing: border-box;
    width: 70%;
    flex-direction: column;
}


/* hikambanale ao amle John sy amle carte rehefa grand ecran */
.details .name,
.details .post {
    justify-content: center;
    margin: 2px auto;
}
/* fin */

.details .info .name,
.details .info .post {
    margin: 2px 8px;
}


.details .name {
    font-size: 20px;
    font-weight: bold;
}

.details .post{
    margin-bottom: 18px;
}

.details .post, #hasProgressBar #label {
    font-size: 11px;
}

.details #phone {
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: 8px;
}

/* ------DISCUSSION------ */
#discussion{
    display: flex;
    flex-direction: column;
    align-self: center;

    box-sizing: border-box;
    width: 80%;
    min-width: 300px;
    max-width: 375px;
    padding: 0px 5px 5px 5px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left-width: 0px;

    background-image: linear-gradient(120deg, var(--fushia), rgb(255, 0, 76), orange);
    position: relative;
        bottom: 10px;
}

#discussion #content{
    display: flex;
    flex-direction: column;
    padding: 40px 10px ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(255, 255, 255, 0.89);
}

#discussion .chat{
    display: flex;
    justify-content: center;

    width: 70%;
    min-width: 210px;
    box-sizing: border-box;
    padding: 15px 10px;
    margin-bottom: 20px;

    border-radius: 20px;
}

#discussion .chat.left{
    background-color: white ;
    border-bottom-left-radius: 0px;
}
#discussion .chat.right{
    position: relative;
    align-self: flex-end;
    border-bottom-right-radius: 0px;
    background-color: var(--fushia);
    color: white;
}

#discussion .chat.right .img-container{
    margin-left: auto;
    align-self: flex-end;
    position: absolute;
        right: -10px;
        top: -20px;
}


/* ------CARDS------ */
#cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center; 

    width: 100%;
    max-width: 423px;
}
.card{
    padding-top: 8px;
    width: 145px;
    /* height: 169px; */
    /* box-sizing: border-box; */

    flex-direction: column;
    justify-content: center;

    border-radius: 8px;
    box-shadow: 15px 15px 25px 5px rgb(210, 210, 210);
}

.card .img-container{
    margin: auto;
    width: 55px;
    height: 55px;
}

.card .details{
    width: 100%;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    margin: 12px auto 8px auto;
}

.card .mini-footer{
    width: 100%;
    justify-content: center;
    align-self: center;
}

.card .mini-footer a{
    font-size: 18px;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

#SamPhone{
    color: var(--beige);
    border-bottom-left-radius: 8px;
}

#SamMsg{
    color: var(--fushia);
    border-bottom-right-radius: 8px;
}

#hasProgressBar .mini-footer{
    width: 100%;
    flex-direction: column;
}

#hasProgressBar #progressBar, #hasProgressBar #pinkProgess{
    width: 90%;
    height: 8px;
    border-radius: 5px;
} 

#hasProgressBar #progressBar{
    margin: auto;
    background-color: lightgray;
}

#hasProgressBar #pinkProgess{
    width: 60%;
    background-color: var(--fushia);
}

#hasProgressBar #label{
    margin-top: 5px;
    text-align: center;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #principal {
        position: relative;
    }

    #principal .img-container {
        height: 350px;
        border-radius: 20px;
    }

    #principal .details {
        flex-direction: column;
        position: absolute;
        bottom: -35px;
        color: white;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}